@charset "UTF-8";

.about-container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    text-align: justify;
}

.about-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-container ul {
    margin-bottom: 15px;
}

.about-container ul li {
    list-style-type: disc;
    margin-left: 20px;
}
