<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>data.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>data.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>data.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCartServlet</display-name>
    <servlet-name>GetCartServlet</servlet-name>
    <servlet-class>data.GetCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCartServlet</servlet-name>
    <url-pattern>/GetCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreServiceServlet</display-name>
    <servlet-name>StoreServiceServlet</servlet-name>
    <servlet-class>data.StoreServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreServiceServlet</servlet-name>
    <url-pattern>/StoreServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReviewServlet</display-name>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <servlet-class>data.SubmitReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <url-pattern>/SubmitReviewServlet</url-pattern>
  </servlet-mapping>
</web-app>